### Importing necesary libraries

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report

### Seeing the dataset

In [2]:
# Dataset was collected from -> https://www.kaggle.com/uciml/sms-spam-collection-dataset

df = pd.read_csv("../input/spam.csv", encoding="latin-1")
df.head()

     v1    ...     Unnamed: 4
0   ham    ...            NaN
1   ham    ...            NaN
2  spam    ...            NaN
3   ham    ...            NaN
4   ham    ...            NaN

[5 rows x 5 columns]

### Dropping unnecessary columns.

In [3]:
df.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], axis=1, inplace=True)
df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

### Changing column names.

In [4]:
df.columns = ['label', 'message']
df.head()

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [9]:
df.shape

(5572, 2)

### Changing labels with 0 and 1.

In [5]:
df['label'] = df['label'].map({'ham': 0, 'spam': 1})
df['label'].value_counts()

0    4825
1     747
Name: label, dtype: int64

### Creating feature matrix from the messages.

In [6]:
X = df['message']
y = df['label']
cv = CountVectorizer()
X = cv.fit_transform(X) # Fit the Data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

### Training Naive Mayes Classifier

In [7]:
#Naive Bayes Classifier
clf = MultinomialNB()
clf.fit(X_train,y_train)
clf.score(X_test,y_test)
y_pred = clf.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99       965
           1       0.91      0.93      0.92       150

   micro avg       0.98      0.98      0.98      1115
   macro avg       0.95      0.96      0.95      1115
weighted avg       0.98      0.98      0.98      1115

### Saving the model for later

In [8]:
from sklearn.externals import joblib
joblib.dump(clf, 'NB_spam_model.pkl')

['NB_spam_model.pkl']